### **Python Functions and Lambda Expressions - Complete Guide**

#### **1.3 Examples**
##### **Example 1: Basic Function**

#### **1. Python Functions**
##### **1.1 What are Functions?**
- **Functions** are reusable blocks of code that perform a specific task.
- They help in **modularizing** code and **avoiding repetition**.
- Defined using the `def` keyword.

##### **1.2 Function Syntax**
```python
def function_name(parameters):
    """Docstring (optional)"""
    # Function body
    return result  # Optional
```

In [4]:
def login():
    """""this is greeting function"""
    print("hello world welcome to python function ")
 

login() # Output: Hello, World!

hello world welcome to python function

In [ ]:
def welcome(name, gender):
    """This function welcomes a user by name and gender."""
    print(f"Welcome, your name is {name} and you are {gender}.")

In [ ]:
name = input("Enter your name: ")
gender = input("Enter your gender (M/F): ")

##### **Example 2: Function with Parameters**

In [8]:
def add(a, b):
    """
    The function is adding two numbers

    and it taking two parameters
    
    """
    return a + b

In [9]:
result = add(3, 5) + 2  # Output: 10

print(result)  # Output: 10

10

In [17]:
def sum_lst(lst):
    total = 0
    for i in lst:
        total+=i
    return total

x = [20,21,40,30,23,50]


result = sum_lst(x)

print(result)

184

##### **Example 3: Default Arguments**

In [6]:
def greet(name="Guest"):
    print(f"Hello, {name}!")

greet("Alice")  # Output: Hello, Alice!
greet()         # Output: Hello, Guest!

Hello, Alice!
Hello, Guest!

In [19]:
def zoo(a,b,c):
    print(f"the first animal is {a}")
    print(f"the second animal is {b}")
    print(f"the third animal is {c}")


zoo(a="Cat", c="Dog",b="Duck")

the first animal is Cat
the second animal is Duck
the third animal is Dog

##### **Example 4: Variable-Length Arguments (`*args` and `**kwargs`)**

In [ ]:
def sum_all(*args):
    return sum(args)

# print(sum_all(1, 2, 3,3,4,5,6,7,7,7,8,9,90,90,44,5,88,69,959,698,5869,577))  # Output: 6


def print_details(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

print_details(name="Alice", age=25, city="New York", country="USA")

# Output:
# name: Alice
# age: 25

##### **Example 5: Return Multiple Values**

In [ ]:
x,y = ("Adesewa",40)
 
a, b, =3, 6

In [ ]:
def get_user():
    name = "Alice"
    age = 25
    return name, age  # Returns a tuple

# print(get_user())

name, age = get_user()
# print(name, age)  # Output: Alice 25
print(f"Your name is : {name}")
print(f"Your age is : {age}")

In [ ]:
def message():
    name = input("Enter Your name: ")
    # print(f"Welcome to my coffee shop {name}")
    return f"Welcome to my coffee shop {name}"

print(message())

In [ ]:
def get_user2(name, age):
    return name, age  # Returns a tuple

name = input("Enter your name: ")
age = int(input("Enter your age: "))

name, age =  get_user2(name, age)  # Returns a tuple

print(f"your name is {name} and your age is {age}")

### **2. Lambda Functions (Anonymous Functions)**
#### **2.1 What are Lambda Functions?**
- **Lambda** functions are small, **anonymous** functions defined with `lambda`.
- They can have **any number of arguments but only one expression**.
- Useful for **short, one-time operations**.

#### **2.2 Lambda Syntax**
```python
lambda arguments: expression
```

#### **2.3 Examples**
##### **Example 1: Basic Lambda**

In [ ]:
def add(a,b):
    c = a + b
    d = a-b
    return c, d

In [ ]:
square = lambda x: x ** 2 

num = int(input("Enter a number: "))

print(square(num))  # Output: 25

In [ ]:
add = lambda a, b : a+b

print(add(3,4))


# def add2(x,y):
#     x+y
#     x-y

# add2(4,7)

In [ ]:
square()

##### **Example 2: Lambda with Multiple Arguments**

In [ ]:
add = lambda a, b: a + b

print(add(3, 4))  # Output: 7

##### **Example 3: Using Lambda with `map()`**

In [1]:
numbers = [1, 2, 3, 4]
squared = list(map(lambda x: x ** 2, numbers))
print(squared)  # Output: [1, 4, 9, 16]

[1, 4, 9, 16]

##### **Example 4: Using Lambda with `filter()`**

In [2]:
numbers = [1, 2, 3, 4, 5]
even = list(filter(lambda x: x % 2 == 0, numbers))
print(even)  # Output: [2, 4]

[2, 4]

##### **Example 5: Using Lambda with `sorted()`**

In [3]:
students = [("Alice", 25), ("Bob", 20), ("Charlie", 22)]

students[1][0]

'Bob'

In [4]:
students = [("Alice", 25), ("Bob", 20), ("Charlie", 22)]

sorted_students = sorted(students, key=lambda x: x[0])  # Sort by age
print(sorted_students)
# Output: [("Bob", 20), ("Charlie", 22), ("Alice", 25)]

[('Alice', 25), ('Bob', 20), ('Charlie', 22)]

In [5]:
students = [("Alice", 25), ("Bob", 20), ("Charlie", 22)]

key=lambda x: x

print(key(students[0][0]))

Alice

---

#### **3. Functions vs. Lambda**
| Feature | Functions (`def`) | Lambda Functions |
|---------|-------------------|------------------|
| **Syntax** | `def name():` | `lambda x: x` |
| **Name** | Has a name | Anonymous |
| **Body** | Can have multiple statements | Single expression |
| **Return** | Uses `return` | Returns expression result |
| **Use Case** | Complex logic | Short, simple operations |

---

In [1]:
multiply = lambda a, b: a*b


print(multiply(2,2))

4

In [30]:
numbers = [1,2,3,4,5,6, 10, 15]
fill = list(filter(lambda x:x % 5 == 0, numbers))


print(fill)

[5, 10, 15]

In [20]:
company = [("developer", "frontend"), ("name:", "tolu") ,("age", 30)]


sort_company = sorted(company, key=lambda x:x [0])
print(sort_company)

print(company)

[('age', 30), ('developer', 'frontend'), ('name:', 'tolu')]
[('developer', 'frontend'), ('name:', 'tolu'), ('age', 30)]

#### **4. Exercises**
##### **Exercise 1: Function Basics**
```python
# Write a function that takes a name and returns a greeting message
# Example: greet("Alice") → "Hello, Alice!"
```

##### **Exercise 2: Lambda Practice**
```python
# Convert this function to a lambda:
def multiply(a, b):
    return a * b
```

##### **Exercise 3: Higher-Order Functions**
```python
# Use `filter()` and a lambda to extract even numbers from a list
numbers = [1, 2, 3, 4, 5, 6]
```

##### **Exercise 4: Advanced Function**
```python
# Write a function that accepts variable arguments and returns their average
# Example: average(1, 2, 3) → 2.0
```