In [1]:
print("hello")

hello

In [ ]:


print("hello" + "hello")

hellohello

###Esaping a string

In [16]:
speech = "She said: \"Hi\""
print(speech)

She said: "Hi"

####testin print

In [1]:
print("magic mirrror is absolety" + " here for me")

magic mirrror is absolety here for me

###explaining input function

In [8]:

print("hello" + input("what is your name "))

hellomubaraq

In [ ]:
###instruction
#1 Create a greeting for the user 
#2 Ask the user the city they grow up in?
#3 Ask the user for their pet name?
#4 Combine the name of their city and pet and show them their brand name?
#5 Make sure the input curse show on a new line

In [11]:
num = 2
part = 2
print(num ** part)

4

In [14]:
num = 2
part = 2
print(num / part)

1.0

In [17]:
num = 40
num2 = 40
print( num == num2 )

True

In [1]:
print("hello"[4])

o

In [ ]:
size = input('order size\n')
sp = 15
mp = 20
lp = 25


if size == 'small':
    pep_sm = input("did you want to add so pepperoni ?:")
    if pep_sm == 'yes':
        print('your total is :', sp + 2 )
    else:
        print('your total is : ', sp )

elif size == 'medium ':
    pep_ml = input("did you want to add so pepperoni ?:")
    if pep_ml == 'yes':
        print('your total is :', mp + 3 )
    else:
        print('your total is :', mp )

elif size == 'large':
    pep_lp = input("did you want to add so pepperoni ?:")
    if pep_lp == 'yes':
        print('your total is :', lp + 3 )
    else:
        print('your total is :', lp )

else: print('invalid size')

want a add pepperoli 17

In [11]:
size = input('order size\n')
sp = 15
mp = 20
lp = 25


if size == 'small':
    pep = input('did you want pepperoni')
    if pep == 'yes':
      print("your total bill is :", + sp)
    else:
       print('your total bill is :', sp )

elif size == 'med':
    pep = input('did you want pepperoni')
    if pep == 'yes':
      print("your total bill is :", + mp)
    else:
       print('your total bill is :', mp )       

elif size == 'large':
    pep = input('did you want pepperoni')
    if pep == 'yes':
      print("your total bill is :", + lp)
    else:
       print('your total bill is :', lp )

your total bill is : 25

In [ ]:
print('welcome to love calculator')
boy_name = input('what is your name boy?\n')
girl_name = input('what is your name girl\n')

In [ ]:

h = 2.51
I = 1.74
L = 66.55

l = float(input("Enter the length of the telephone box shadow (l):"))
h = float(input("Enter the height of the telephone box (h): "))
L = float(input("Enter the length of the shadow of the Elizabeth Tower (L): "))
H = (h * L) / l,
print('THE ESTIMATED HEIGHT OF THE ELIZABETH TOWER (H) IS:', (H) )

In [ ]:
Treasure = print('Welcome to Treasure Island. Your mission is to find the treasure\n')


if Treasure == ' right':
     ways = input('left or right?\n')
     if ways == 'right':
         print('Fall into a hole.Game Over.\n')
     else:
          print('')

elif  Treasure == 'left':
     ways = input('left or right?\n')
     if ways == 'left':
         print('swim or wait\n')
         
elif  Treasure == 'swim':
     ways = input('left or right?\n')
     if ways == 'swim':
         print('Attacked by trout.Game Over\n')

Welcome to Treasure Island. Your mission is to find the treasure

In [25]:
import random

pass_out = random.random() * 5
print(pass_out)

love_score = random.randint(0,50)
print(f"your love score is {love_score}")

1.7251968604172934
your love score is 48

In [ ]:
import random

flip_coin = random.randint(0,1)

if flip_coin == 1:
    print('head')
else: 
    print('tails')

tails

In [14]:
united_states = ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", 
 "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland",
 "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", 
"New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", 
"South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"]

# united_states.append("londoncitu")
united_states.extend(["londoncity","taxascity"])


print(united_states)

['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming', 'londoncity', 'taxascity']

In [2]:
import random

name_split = input('Give everybody names , seperate by comma')
name = name_split.split(" , ")
name_split = random.random()

print(f"{name_split} is going to but th meal today!")

0.7866586100107276 is going to but th meal today!

In [1]:
import random

names = input("Give everybody's names, separated by a comma: ")
name_list = names.split(",")  
chosen_name = random.choice(name_list).strip()  

print(f"{chosen_name} is going to buy the meal today!")

mubarak is going to buy the meal today!

##list nest

In [ ]:
fruit = ["apple","orange", "mango","watermelon" ]
snack = ["donut", "egggrow","meatpie", "pie" ]

food = [fruit , snack ]

print([food])

##forloop

In [ ]:
sports = ["football", "ruby", "golf"]

for sports in sports:
    print(sports + "ball")

sports = []

In [6]:

score = [50, 40, 60, 20, 70, 90]


print("the highest score in the class is ", max(score))

the highest score in the class is  90

FOR LOOP WITH RANGE

In [ ]:
for number in range(20,30):
    print(number)

In [11]:
total = 0 
for number in range(2, 101, 2):
    total += number   
print(total)

2550

fuzz challenge

In [ ]:
for number in range(1, 101):
    if number % 3 == 0 and number % 5 == 0:
        print("fuzzbuzz")
    elif number % 3 == 0:
        print("fuzz")
    elif number % 5 == 0:
        print("buzz")
    else:
        print(number)

In [4]:
if 10 < 9 or 10 < 20:
    print("10 is less than the Rest ")

10 is less than the Rest

In [6]:
if 10 < 9 and  10 < 20:
    print("10 is less than the Rest ")
else:
    print("not correct")

not correct

In [12]:
if  not(5 % 2 == 0):
    print("5  is not greeter than 2")
else:
    print("NOT")

5  is not greeter than 2

In [15]:
if 20 > 5 or 5 > 20:
    print(" 20 is greeter than 5")

 20 is greeter than 5

In [18]:
if 20 > 5 and  5 > 20:
        print(" 20 is greeter than 5")
else:
        print("20 is not  greeter than 5")

20 is not  greeter than 5

In [17]:
if not(20 < 5 ):
    print("5 will never be greeter than 20")
else:
    print("5 will  IS  greeter than 20")

5 will never be greeter than 20

In [1]:
sports = ["basketball", "volleyball","soccer", "golf", ]

sports

['basketball', 'volleyball', 'soccer', 'golf']

In [7]:
exam_score = 41

if  exam_score >= 60:
    print("YOUR GRADE IS A")
elif  exam_score >= 57:
    print("YOUR GRADE IS B")   
elif  exam_score >= 50:
    print("YOUR GRADE IS C")
elif  exam_score >= 45:
    print("YOUR GRADE IS D")
elif  exam_score >= 40:   
    print("YOUR GRADE IS D")
else:
    print("You are a failure you should be ashame of your self ")

YOUR GRADE IS D

In [ ]:
gadget = ["phone", "laptop", "tab"]
for gad in gadget:
    print(gad)
    for x in gad:
        print(x)

In [ ]:
sports = ["golf", "soccer", "ruby", "wrestle" ]
for sport in sports:
    print(sport)
    for x in sport:

      
        print(x)   
        
sports

In [ ]:
for x in range(2, 40):
    print(x)

In [16]:
even_number = [1, 3, 5, 7]
num = [even_number*2 for even_number in range(6) ]

print(num)

[0, 2, 4, 6, 8, 10]

 Adding Lists Together

In [ ]:
list1 = [2, 4, 5, 10, 15]
list2 = [5, 10, 20, 50]


new_list = list1 + list2 

print(new_list)

[2, 4, 5, 10, 15, 5, 10, 20, 50]

In [37]:
import random
n = random.randint(3, 10)
print(n)

4

##sort list

##### Sort Lists

In [13]:
array = [20, 19, 15, 17, 18 , 30 , 40 , 50, 100, 200, 10, ]
array.sort()

print(array)

[10, 15, 17, 18, 19, 20, 30, 40, 50, 100, 200]

##unpack truple

In [ ]:
brand = ("bmw", "gle", "toyota", "benz")
lst = list(brand)
lst[3] = "honda"
lst.insert(0, "corolla")
tpl = tuple(lst)



print(lst)
print(tpl)
print(type(tpl))

['corolla', 'bmw', 'gle', 'toyota', 'honda']
('corolla', 'bmw', 'gle', 'toyota', 'honda')
<class 'tuple'>

In [ ]:
kit_skills = ("sport","makeup", "gym", "soap", "cream")
lst = list(kit_skills)
lst.pop()
# del lst[1]
lst.append('shoe')
lst.insert(1,"hair")
tpl = tuple(lst)

print(lst)
print(tpl)
print(type(tpl))
print(type(lst))

In [16]:
num1 = {1,2,3,4,5,6,7,8,9,10}
num2 = {2,4,6, 8, 10,}


print(num1.intersection(num2))
print(num1.difference(num2))
print(num1.union(num2))

{2, 4, 6, 8, 10}
{1, 3, 5, 7, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [17]:
num2.add(5)
num2.remove(2)

print(num2)

{4, 5, 6, 8, 10}

dictionary

In [ ]:
company = {"role":"backend developer", "name":"darby allin", "salary": "$1000"}

print(company["salary"])
print(company["name"])
print(company["role"])
print(type(company))

In [19]:
toshconsult = {"developer":"software engineer", "boss":"Tosh", "name": "abdulmalik" }

print(toshconsult["developer"])

software engineer


#assighnment

In [ ]:
down_town = ( "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Nebraska", "Nevada", "New Hampshire", "New Jersey")
lst.insert()
lst = list(down_town)
tpl = tuple(lst)

print(lst)

### IF STATEMENT CONDITION

##### simple if... statement as long as condition is true

In [3]:
number = 15
if number > 0:
  print("The number is positive")

The number is positive

In [ ]:
if 18 == 18:
    print("True")

In [18]:
age = 18
if age >= 18:
  print("You are an adult")
  print("You can vote")
  print("You have full legal rights")

You are an adult
You can vote
You have full legal rights

In [7]:
is_logged_in = True
if is_logged_in:
  print("Welcome back!")

Welcome back!