---

## ðŸ“˜ Python Beginner Notes + Exercises

---

#### ðŸ”¹ 1. Python Booleans

**Notes:**

* A Boolean represents one of two values: `True` or `False`.
* Often the result of comparisons.
* Example:

In [ ]:
x = 10
y = 5
# print(x > y)   # True
print(bool(10)) # False

In [ ]:
a = bool("tttgg")
b = True

print(a)
print(b)

In [ ]:
coming_soon = True
if 7>5:
    coming_soon = False

print(coming_soon)

#### ðŸ”¹ 2. Python Operators

**Notes:**

* **Arithmetic:** `+ - * / % ** //`
* **Comparison:** `== != > < >= <=`
* **Logical:** `and or not`
* **Assignment:** `= += -= *= /=`
* **Membership:** `in, not in`
* **Identity:** `is, is not`

In [ ]:
print(4+5)
print(4-5)
print(4*5) 
print(4/5)  # Division
print(1//2) # Floor Division
print(2**2) # Exponentiation
print(5%4)  # Modulus the remainder will be the answer not the actual answer
print(4 == 5) # Equal
print(1 != 5) # Not Equal
print(4 > 5)  # Greater than
print(4 < 5)  # Less tha
print(4 >= 5) # Greater than or equal to
print(4 <= 5) # Less than or equal to

In [ ]:
if 4 > 5 or 4 < 5:
    print(" yes is trues answer")

everything is false in this condition

In [ ]:
if 5> 2 and  5>20:
    print( "5 is the greater than the rest!")
else:
    print("5 is not the greater than the rest!")

5 is the greater than the rest!

In [ ]:
if not(5 > 2):
    print("5 is not greater than 2") 
else:
    print("5 greater than 2")

In [ ]:
total = 5

if 30 > 20:
    total += 30

print(total)


    # total = total + 30

In [ ]:
total = 5

if 30 > 20:
    total -= 30

print(total)

In [ ]:
total = 5

if 30 > 20:
    total *= 30

print(total)

In [ ]:
total = 5

if 30 > 20:
    total /= 30

print(total)

In [ ]:
txt =  "Am going to classs!"

if "going" in txt:           #condition
    print("going is present!")

In [ ]:
num = [1,3,5,7]

if 90 in num:         # conditions
    print("90 is present")
else:
    print("90 is not in the list of numbers")


print(90 in num)  # False

In [ ]:
print(90 not in num)  # False

In [ ]:
y = "ola"
x = "segun"

num1 = 40
num2 = 40

print(num1 is num2)

print(y is x)

In [ ]:
num1 = 50
num2 = 40

print(num1 is not num2)

#### ðŸ”¹ 3. Python Lists

**Notes:**

* A list is an ordered, changeable collection.

In [ ]:
fruits = ["apple", "banna", "cherry", 345, 5.6, True, False, 3+4j]

##### Access List Items

* Indexing: `fruits[0]` â†’ `"apple"`
* Negative Index: `fruits[-1]` â†’ `"cherry"`

In [ ]:
fruits[2]

#### Change List Items

In [ ]:
fruits[1] = "mango"

In [ ]:
fruits[1]= "banana"

print(fruits)

In [ ]:
fruits[7] = "something else"

fruits

##### Add List Items

In [ ]:

fruits = ["apple", "banna", "cherry"]
fruits.append("orange")
fruits.insert(1, "kiwi")

fruits

##### Remove List Items

In [ ]:

fruits = ["apple", "banana", "cherry"]
# fruits.remove("apple")
# fruits.pop()        # removes last
# del fruits[0]
fruits.clear()      # empties list

fruits

##### Loop Lists

In [ ]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    for x in fruit:
        print(x)
    print(fruit)

##### List Comprehension

In [ ]:
for x in range(2,5):
    print(x)

In [ ]:

lst = [0,1,2,3,4]
squares = [x**2 for x in range(5)]

print(squares)

##### Sort Lists

In [ ]:
num_s = [5,2,9,1]
num_s.sort()

print(num_s)

##### Copy Lists

In [ ]:

new_list = fruits.copy()
print(new_list)


##### Join Lists

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

joined_list = list1 + list2

print(joined_list)

In [ ]:
print(type(joined_list))

#### ðŸ”¹ 4. Python Tuples

**Notes:**

* Tuples are ordered, **immutable**.

In [ ]:
my_tuple = ("red", "blue", "green")

print(type(my_tuple))
# print(my_tuple)

In [ ]:
my_tuple[1] = "yellow"

print(my_tuple[1])

##### Access Tuples

In [ ]:
print(my_tuple[1])

##### Update Tuples

* Cannot directly update.
* Convert to list â†’ update â†’ back to tuple.

##### Unpack Tuples

In [ ]:
tpl =  ("sola", "bose", "monday")

lst = list(tpl)

lst[0] = "John"

new_tpl = tuple(lst)

new_tpl

print(type(new_tpl))
print(tpl)
print(lst)

In [ ]:
tpl =  ("sola", "bose", "monday")
lst = list(tpl)
lst.append("ade")
lst[1] = "book"
tpl1 = tuple(lst)
print(lst)
print(tpl1)
print(type(tpl1))

In [ ]:
(a, b, c) = my_tuple

##### Loop Tuples

In [ ]:
my_tuple = ("red", "blue", "green")

In [ ]:
for color in my_tuple:
    print(color)
    for x in color:
        print(x)

##### Join Tuples

In [ ]:

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
tuple3 = tuple1 + tuple2

print(tuple3)

#### ðŸ”¹ 5. Python Sets

**Notes:**

* Set is unordered, unindexed, no duplicates.

In [ ]:
my_set = {"apple", "banana", "cherry", "banana"}

print(my_set)

In [ ]:
print(my_set[0])


##### Add & Remove

In [ ]:
my_set = {"apple", "banana", "cherry", "banana"}

my_set.add("mango")
my_set.remove("banana")

print(my_set)

##### Set Operations

In [ ]:
a = {1,2,3}
b = {3,4,5}
print(a.union(b))      # {1,2,3,4,5}
print(a.intersection(b))  # {3}
print(a.difference(b))

#### ðŸ”¹ 6. Python Dictionaries

**Notes:**

* Stores data as key-value pairs.

In [ ]:
student = {"name": "John", "age": 20, "course": "Python"}

print(student["name"])
print(student["age"])
print(student["course"])

print(type(student))

In [ ]:
employ = {"name":"punk", "Age": 30, "height": 3.5}
# print(type(employ))
print(employ["name"])
print(employ["Age"])
print(employ["height"])

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

In [ ]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

##### Access

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

In [ ]:
thisdict["color"] = "blue"

In [ ]:
print(thisdict.get("brand"))
print(thisdict.keys())
print(thisdict.values())

## add

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

In [ ]:
for A, B in car.items():
    print(A,B)

## change

In [ ]:
car["year"] = 1960

In [ ]:
print(car.get("year"))

In [ ]:
print(student["name"])
print(student.get("age"))

## Looping

In [ ]:
for x in thisdict:
    print(x)

In [ ]:
for x in thisdict.values():
    print(x)

## assignment

In [ ]:

#create a dict items with atlest 5 element   
person = {
    "name": "Adam Page",
    "age": 25,
    "country": "London",
    "profession": "Wrestler",
    "skills": "Frontend Developer"
}
print(person)

In [ ]:
# access the second item in the dict
print(person.get("age"))

In [ ]:
#add another  one items to it  

person["country"] = "united state of american"

print(person)

In [ ]:
  #add another  one items to it 
person["Best food"] = "cheese bugger"

print(person)

In [ ]:
#remove the last itm
del person["Best food"]

print(person)

In [ ]:
#loop through the dict.


for body in person:
    print(body)

In [ ]:
#loop through the value..
for x in person.values():
    print(x)

In [ ]:
#loop through the keys and  value..


for a,b in person.items():
    print(a,b)

In [ ]:
for x in thisdict.keys():
    print(x)

In [ ]:
for x, y in thisdict.items():
    print(x, y)

##### Nested Dictionary

In [ ]:
employee = { "emp1" : {"name": "Alice", "age": 30}, "emp2" : {"name": "Bob", "age": 25}}

In [ ]:
print(employee)

In [ ]:
for employ in employee:
    print(employee[employ])

In [ ]:
for x in employ:
    print(x, obj)
    # for i in x:
        # print(i)

##### Change

In [ ]:
student = {"name": "John", "age": 20, "course": "Python"}

In [ ]:
student["age"] = 21

In [ ]:
print(student)

##### Add

In [ ]:
student["grade"] = "A"

In [ ]:
print(student)

##### Remove

In [ ]:
student.pop("course")

In [ ]:
print(student)

#### Loop

In [ ]:
for key, value in student.items():
    print(key, value)

## Nested dict

In [ ]:
myfamily = {"child1": {"name":"Ade", "year":2004}, "child2": {"name":"punk", "year":2007}, "child3": {"name":"fathia", "year":2011}}
myfamily

In [ ]:
# access the nest dict
# print(myfamily['child2']['name'])

# loop through a nested dict by using the item() method
for x, y in myfamily.items():
    print(x, y)
    for i in y:
        print(i, y[i] )




**Exercise:**

1. Check if `15` is greater than `7`.
2. Use `bool()` to check the truthiness of `""` (empty string), `[]` (empty list), and `"Hello"`.

---



**Exercise:**

1. Write an expression to check if `10` is divisible by `2`.
2. Test if `"a"` is in `"apple"`.
3. Use `and` to check if `5 < 10` **and** `10 < 20`.

---



**Exercises:**

1. Create a list of 5 numbers, change the second number, and print the list.
2. Add `"grape"` to a fruit list.
3. Remove the last item from the list.
4. Use a loop to print all items.
5. Create a new list of even numbers between 1 and 10 using list comprehension.

---

**Exercises:**

1. Create a tuple of 4 cities and print the second one.
2. Unpack a tuple into 3 variables.
3. Join two tuples and print the result.

---

**Exercises:**

1. Create a set of 3 colors and add one more.
2. Remove an item from the set.
3. Find the union and intersection of `{1,2,3}` and `{2,3,4}`.

---



**Exercises:**

1. Create a dictionary with keys: `"name"`, `"age"`, `"city"`.
2. Update the `"city"` value.
3. Add a new key `"grade"`.
4. Loop and print all keys and values.

---